<div class="">
  <a [routerLink]="['/dashboard/default/']" class="b-brand">
    <div class="">
      <!-- <img src="/src/assets/images/mdpyep.png" alt=""> -->
      <!-- <i class="feather icon-trending-up"></i> -->
      <img src="assets/images/mdpyep.png" alt="Logo" style="width: 6vh; height: 5vh" />
    </div>
    <span class="b-title">MDPyEP</span>
  </a>
  <a href="javascript:" class="mobile-menu" [ngClass]="{ on: navCollapsed }" id="mobile-collapse" (click)="navCollapse()"><span></span></a>
</div>
